@import 'variables/colors';

footer {
  background-color: #899892;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    & li {
      padding: 5px;
      align-self: center;
    }
  }
}
