

header {
  display: flex;
  padding: 20px;
  & .sidebar {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 0px;
    height: 100%;
    background-color: white;
    transition: 0.7s;
    &.active {
      width: 300px;
      transition: 0.7s;
      z-index: 1;
    }
    & ul {
      padding: 20% 0;
    }
    & li {
      list-style: none;
      font-size: 1.5em;
      padding: 15px 0;
      text-align: center;
      & a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: $darkgray;
        &:hover {
          color: $darkbalance;
          text-decoration: underline;
        }
      }
    }
  }
}


.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}
