/******** Partials ********/
h1 {
  color: #434646;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  margin: 0;
}

h2 {
  color: #434646;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

h3 {
  color: #434646;
  font-family: 'Nunito', sans-serif;
}

p {
  width: 40vw;
  font-family: 'roboto', sans-serif;
  line-height: 1.7;
  color: #6c7171;
  margin: 50px 0;
}

li {
  font-family: 'roboto', sans-serif;
  color: #6c7171;
  line-height: 1.7;
  padding-bottom: 25px;
}

footer {
  background-color: #899892;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

header .sidebar {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 0px;
  height: 100%;
  background-color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .sidebar.active {
  width: 300px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1;
}

header .sidebar ul {
  padding: 20% 0;
}

header .sidebar li {
  list-style: none;
  font-size: 1.5em;
  padding: 15px 0;
  text-align: center;
}

header .sidebar li a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #6c7171;
}

header .sidebar li a:hover {
  color: #367973;
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23f2f2f2' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23f2f2f2' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.button {
  color: white;
  font-family: 'montserrat';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 10px;
}

.button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  height: 100vh;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #367973;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.transition.is-active {
  opacity: 1;
  pointer-events: all;
}

body {
  background-image: url("../images/teal-header.jpg");
  background-size: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-bottom: 80px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: snow;
}

.intro .big {
  font-size: 9rem;
  margin-top: 30px;
}

.intro p {
  font-family: 'Playfair Display', serif;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  color: snow;
  width: auto;
  padding: 0 40px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: snow;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.home--button {
  background-color: none;
  border: 1px solid snow;
  font-weight: normal;
}

.home--button:hover {
  color: snow;
  background-color: #367973;
  border: none;
  -webkit-transform: scale(1.5) perspective(1px);
          transform: scale(1.5) perspective(1px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  display: none;
}

/**********  MOBILE  **********/
@media only screen and (max-width: 700px) {
  .logo img {
    width: 40vw;
  }
  .intro {
    text-align: center;
  }
  .intro h1 {
    font-size: 1.2rem;
  }
  .intro .big {
    font-size: 4rem;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */